* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.logo h2 {
    font-size: 45px;
    font-weight: bolder;

}

.color-orange {
    color: #FD6E0A;
}

/*main style*/


header {
    background-color: #FFF8F3;
    padding-top: 53px;
    background: url(/images/developer.png), url(/images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

nav {
    width: 67%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;


}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;

}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#baner {
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#baner .baner-content {
    max-width: 585px;
}

#baner .baner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

#baner .baner-content h1 {

    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

#baner .baner-content p {
    font-size: 18px;
    color: 757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#baner .banar-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about,#resume,#skills {
    padding-top: 130px;

}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info .card-info {
    font-size: 20px;
}



#skills .skills-container {
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    width: 267px;
    box-shadow: 0 6px 50px #00000027;

}

.skill-card img {
    width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;

}

.resume-container{
    display: flex;
    gap: 24px;
}

.resume-container hr{
    margin: 30px 0;
}

.resume-container .section-titel{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;


}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-info{
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-titel{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;

}
.resume-card .card-titel{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;

}

.resume-card.card-text{
    font: 16px;
    line-height: 28px;
    color: #757575;

}

.text-center{
    text-align: center;
}



footer{
    margin-top:130px ;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}



.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-container .icon a{
    margin-right: 24px;
}

.footer-container form input[type="text"],.footer-container form input[type="email"],.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}